@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body * {
    visibility: hidden !important;
  }
  #final-contract-content, #final-contract-content * {
    visibility: visible !important;
  }
  #final-contract-content {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100vw !important;
    background: white !important;
    color: black !important;
    padding: 2em !important;
    z-index: 9999 !important;
    box-shadow: none !important;
  }
}